.body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-size: 20px;
  }
  
  .login-button {
    height: 30px;
    margin: 30px 0;
  }
  
  .login-button {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: 2px;
    font-size: 22px;
    background: rgb(43, 43, 241);
  }
  